#########################################################
#                                                       #
#           Telops FIR-00180                            #
#                                                       #
#         4VFX100-10FFG1517  User Constraint File       #
#########################################################
# 
# DCI pour toutes les Outputs remarque de DAniel 2 avril 2007
#########################################################
#               Clock / Reset Sources                   #
#########################################################



#----------------------------------------------------------------------
#                     SYSTEM  RESET_N                                       
#----------------------------------------------------------------------
#----------------------------------------------------------------------
#                     ZBT CLOCK                                                  
#----------------------------------------------------------------------


#INST     "DCM_SYS/DCM_ADV_INST"     	LOC = "DCM_ADV_X0Y6"; 
#INST     "DCM_ZBT_EXT/DCM_INST" 	LOC = "DCM_X2Y1"; 
#INST     "DCM_ZBT_INT/DCM_ADV_INST" LOC = "DCM_ADV_X0Y7"; 
                                               
#----------------------------------------------------------------------
#                     ZBT CLOCK CONTRAINTES                                       
#----------------------------------------------------------------------
#NET "ZBT_COMP_IN"          PERIOD  =    6.25 ns INPUT_JITTER 0.4; # CLK_FX jitter = 220ps + 180ps CLK100 jitter

NET "CLK100_IN_N"          TNM_NET =   "TNM_CLK_TOP";   
NET "CLK100_IN_P"          TNM_NET =   "TNM_CLK_TOP";                                                                     

TIMESPEC "TS_CLK_TOP" = PERIOD "TNM_CLK_TOP" 10 ns; 


#----------------------------------------------------------------------
#                       ZBT ADDRESS
#----------------------------------------------------------------------

#NET "ZBT_ADD<20>"         LOC = "C32 "  | IOSTANDARD = LVDCI_33 ;                                                                                 
#NET "ZBT_ADD<21>"         LOC = "D32"  | IOSTANDARD = LVDCI_33 ;                                                                          


#----------------------------------------------------------------------
#                       ZBT DATA                                   
#----------------------------------------------------------------------
                                                                       
#NET "ZBT_DATA<32>"       LOC = "P22" | IOSTANDARD = LVDCI_33 ; 
#NET "ZBT_DATA<33>"       LOC = "L25" | IOSTANDARD = LVDCI_33 ; 
#NET "ZBT_DATA<34>"       LOC = "L26" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_CE2_n"           LOC = "AJ4"  | IOSTANDARD = LVDCI_33 ; 
#NET "ZBT_CE2"             LOC = "AM23"  | IOSTANDARD = LVDCI_33 ;
#NET "ZBT_ZZ"              LOC = "AC25" | IOSTANDARD = LVDCI_33 ;    
#NET "ZBT_CKE_n"           LOC = "AB27" | IOSTANDARD = LVDCI_33 ;     
                                                                    
#----------------------------------------------------------------------                            
#                       USER CONTROL SIGNAL                             
#----------------------------------------------------------------------

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "CLK100_IN_N"  			LOC = "H18" 	| IOSTANDARD = LVDS_25 ; 
NET "CLK100_IN_P"  			LOC = "H19" 	| IOSTANDARD = LVDS_25 ; 
NET "CLK_ZBT1"  				LOC = "L21" 	| IOSTANDARD = LVDCI_33 ; 
NET "CLK_ZBT2"  				LOC = "AJ30" 	| IOSTANDARD = LVDCI_33 ; 
NET "FIFO_ERR"  				LOC = "AL28" 	| IOSTANDARD = LVDCI_33 ; 
NET "RD_ADD_AFULL"			LOC = "AL31" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<0>" 				LOC = "AJ27" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<10>"				LOC = "AG27" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<11>"				LOC = "AH23" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<12>"				LOC = "AG23" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<13>"				LOC = "AE28" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<14>"				LOC = "AF28" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<15>"				LOC = "AF23" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<16>"				LOC = "AE23" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<17>"				LOC = "AE27" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<18>"				LOC = "AE26" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<19>"				LOC = "AL24" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<1>" 				LOC = "AL25" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<20>"				LOC = "AK24" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<21>"				LOC = "AD22" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<22>"				LOC = "AE22" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<23>"				LOC = "AH28" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<24>"				LOC = "AH29" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<25>"				LOC = "AM21" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<26>"				LOC = "AM22" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<27>"				LOC = "AK29" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<28>"				LOC = "AJ29" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<29>"				LOC = "AK21" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<2>" 				LOC = "AM25" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<30>"				LOC = "AL21" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<31>"				LOC = "AL29" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<32>"				LOC = "AM30" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<33>"				LOC = "AL20" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<34>"				LOC = "AM20" 	| IOSTANDARD = LVDCI_33 ;     
#NET "RD_DATA<35>"				LOC = "AL30" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<3>" 				LOC = "AF26" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<4>" 				LOC = "AG26" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<5>" 				LOC = "AD24" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<6>" 				LOC = "AE24" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<7>" 				LOC = "AG25" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<8>" 				LOC = "AH25" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DATA<9>" 				LOC = "AG28" 	| IOSTANDARD = LVDCI_33 ;     
NET "RD_DVAL"  					LOC = "AC22" 	| IOSTANDARD = LVDCI_33 ; 
NET "RD_IDLE"  					LOC = "AC23" 	| IOSTANDARD = LVDCI_33 ; 
NET "RESET_IN_N"  			LOC = "G17" 	| IOSTANDARD = LVDCI_33 ; 
NET "SELTF_TEST_PASS"   LOC = "AJ24" 	| IOSTANDARD = LVDCI_33 ; 
NET "WR_AFULL" 					LOC = "AH24" 	| IOSTANDARD = LVDCI_33 ; 
NET "WR_IDLE"  					LOC = "AK22" 	| IOSTANDARD = LVDCI_33 ; 
NET "ZBT_ADD<0>"  			LOC = "D31" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<10>" 			LOC = "C30" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<11>" 			LOC = "G32" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<12>" 			LOC = "G31" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<13>" 			LOC = "F29" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<14>" 			LOC = "E29" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<15>" 			LOC = "K29" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<16>" 			LOC = "J29" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<17>" 			LOC = "E31" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<18>" 			LOC = "J30" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<19>" 			LOC = "J31" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<1>"  			LOC = "D29" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<2>"  			LOC = "C29" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<3>"  			LOC = "E32" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<4>"  			LOC = "F31" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<5>"  			LOC = "H28" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<6>"  			LOC = "H27" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<7>"  			LOC = "G30" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<8>"  			LOC = "F30" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADD<9>"  			LOC = "D30" | IOSTANDARD = LVDCI_33 ;    
NET "ZBT_ADV_LD_n"  		LOC = "M22" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_BUSY"  				LOC = "AK23"| IOSTANDARD = LVDCI_33 ; 
NET "ZBT_Bwa_n" 				LOC = "T28" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_Bwb_n" 				LOC = "T29" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_Bwc_n" 				LOC = "T30" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_Bwd_n" 				LOC = "T31" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_CE_n"  				LOC = "F19" | IOSTANDARD = LVDCI_33   ; 
#NET "ZBT_COMP_IN"  			LOC = "H17" | IOSTANDARD = LVDCI_33   ; 
#NET "ZBT_COMP_OUT" 			LOC = "U28" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<0>"  			LOC = "M30" | IOSTANDARD = LVDCI_33   ; 
NET "ZBT_DATA<10>" 			LOC = "L30" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<11>" 			LOC = "J32" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<12>" 			LOC = "H32" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<13>" 			LOC = "N29" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<14>" 			LOC = "N28" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<15>" 			LOC = "N27" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<16>" 			LOC = "M28" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<17>" 			LOC = "N30" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<18>" 			LOC = "M32" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<19>" 			LOC = "M31" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<1>"  			LOC = "R27" | IOSTANDARD = LVDCI_33   ; 
#NET "ZBT_DATA<20>" 			LOC = "P27" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<21>" 			LOC = "P26" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<22>" 			LOC = "M25" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<23>" 			LOC = "M26" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<24>" 			LOC = "K31" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<25>" 			LOC = "K32" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<26>" 			LOC = "H29" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<27>" 			LOC = "H30" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<28>" 			LOC = "L28" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<29>" 			LOC = "L29" | IOSTANDARD = LVDCI_33 ;  
NET "ZBT_DATA<2>"  			LOC = "R28" | IOSTANDARD = LVDCI_33   ; 
#NET "ZBT_DATA<30>" 			LOC = "J27" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<31>" 			LOC = "K28" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<32>" 			LOC = "" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<33>" 			LOC = "" | IOSTANDARD = LVDCI_33 ; 
#NET "ZBT_DATA<34>" 			LOC = "" | IOSTANDARD = LVDCI_33 ;  
#NET "ZBT_DATA<35>" 			LOC = "" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<3>"  			LOC = "P29" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<4>"  			LOC = "R29" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<5>"  			LOC = "R31" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<6>"  			LOC = "R32" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<7>"  			LOC = "N32" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<8>"  			LOC = "P32" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_DATA<9>"  			LOC = "L31" | IOSTANDARD = LVDCI_33 ; 
#NET "ZBT_LBO"  				LOC = "E19" | IOSTANDARD = LVDCI_33 ; 
NET "ZBT_OE_n"  				LOC = "K24" | IOSTANDARD = LVDCI_33 ; 
#NET "ZBT_WE_n"  				LOC = "" | IOSTANDARD = LVDCI_33 ; 
                        
                        
                                
NET     "ZBT_ADD*"     	MAXDELAY = 0.1 ns;    # Ensures that IOB flip-flops are used.
NET     "ZBT_CE_N"     	MAXDELAY = 0.1 ns; 
#NET     "ZBT_LBO"      	MAXDELAY = 0.1 ns;       
NET     "ZBT_WE_N"     	MAXDELAY = 0.1 ns;
NET     "ZBT_OE_N"     	MAXDELAY = 0.1 ns;
NET     "ZBT_ADV_LD_N" 	MAXDELAY = 0.1 ns;  
                       	
# ZBT output only constaints
NET     "ZBT_Add*"     	TNM = "TNM_ZBT_OUT";
NET	"ZBT_CE_N"     	TNM = "TNM_ZBT_OUT"; 
#NET    	"ZBT_LBO"      	TNM = "TNM_ZBT_OUT";      
NET    	"ZBT_WE_N"     	TNM = "TNM_ZBT_OUT"; 
NET    	"ZBT_OE_N"     	TNM = "TNM_ZBT_OUT"; 
NET	"ZBT_ADV_LD_N" 	TNM = "TNM_ZBT_OUT";     
##
#
#
#
## ZBT bidir signal constaints
#NET    	"ZBT_Data*"   		TNM = "TNM_ZBT_BIDIR_OUT";
#NET    	"ZBT_Data*"   		TNM = "TNM_ZBT_BIDIR_IN";
#
#TIMEGRP "TNM_ZBT_OUT"         OFFSET = OUT 4.0 ns AFTER "ZBT_COMP_IN";
#TIMEGRP "TNM_ZBT_BIDIR_OUT" 	OFFSET = OUT 4.0 ns AFTER  "ZBT_COMP_IN";  # Controleur en mode write 
#TIMEGRP "TNM_ZBT_BIDIR_IN"  	OFFSET = IN  2.3 ns BEFORE  "ZBT_COMP_IN";     # Controleur en mode read  max =1.5

NET     "ZBT_Data*"   MAXDELAY = 0.1 ns;    # Ensures that IOB flip-flops are used.


## LIGNE AJOUTÉE PAR EDEM POUR VERIFICATION SEULEMENT
# ET DONC A EFFACER DANS LA VERITABLE IMPLEMENTATION

NET "TEST_ERROR_FOUND"  LOC = "AF29" |IOSTANDARD = LVDCI_33 ;   







#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
