
##########################    Lane 0 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_0_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_0_GRP";
AREA_GROUP "PHASE_ALIGN_0_GRP" RANGE=SLICE_X14Y72:SLICE_X15Y73;

# Place lane_0_mgt_i at location X0Y1
INST lane_0_mgt_i LOC=GT_X0Y1;



##########################    Lane 1 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_1_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_1_GRP";
AREA_GROUP "PHASE_ALIGN_1_GRP" RANGE=SLICE_X26Y72:SLICE_X27Y73;

# Place lane_1_mgt_i at location X1Y1
INST lane_1_mgt_i LOC=GT_X1Y1;



##########################    Lane 2 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_2_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_2_GRP";
AREA_GROUP "PHASE_ALIGN_2_GRP" RANGE=SLICE_X38Y72:SLICE_X39Y73;

# Place lane_2_mgt_i at location X2Y1
INST lane_2_mgt_i LOC=GT_X2Y1;



##########################    Lane 3 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_3_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_3_GRP";
AREA_GROUP "PHASE_ALIGN_3_GRP" RANGE=SLICE_X50Y72:SLICE_X51Y73;

# Place lane_3_mgt_i at location X3Y1
INST lane_3_mgt_i LOC=GT_X3Y1;



##########################    Lane 4 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_4_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_4_GRP";
AREA_GROUP "PHASE_ALIGN_4_GRP" RANGE=SLICE_X14Y0:SLICE_X15Y1;

# Place lane_4_mgt_i at location X0Y0
INST lane_4_mgt_i LOC=GT_X0Y0;



##########################    Lane 5 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_5_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_5_GRP";
AREA_GROUP "PHASE_ALIGN_5_GRP" RANGE=SLICE_X26Y0:SLICE_X27Y1;

# Place lane_5_mgt_i at location X1Y0
INST lane_5_mgt_i LOC=GT_X1Y0;



##########################    Lane 6 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_6_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_6_GRP";
AREA_GROUP "PHASE_ALIGN_6_GRP" RANGE=SLICE_X38Y0:SLICE_X39Y1;

# Place lane_6_mgt_i at location X2Y0
INST lane_6_mgt_i LOC=GT_X2Y0;



##########################    Lane 7 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_7_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_7_GRP";
AREA_GROUP "PHASE_ALIGN_7_GRP" RANGE=SLICE_X50Y0:SLICE_X51Y1;

# Place lane_7_mgt_i at location X3Y0
INST lane_7_mgt_i LOC=GT_X3Y0;



