##########################    Lane 0 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_0_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_0_GRP";
AREA_GROUP "PHASE_ALIGN_0_GRP" RANGE=SLICE_X14Y168:SLICE_X15Y169;

# Place lane_0_mgt_i at location X0Y1
INST lane_0_mgt_i LOC=GT_X0Y1;



##########################    RIO4 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_1_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_1_GRP";
AREA_GROUP "PHASE_ALIGN_1_GRP" RANGE=SLICE_X26Y168:SLICE_X27Y169;

# Place lane_1_mgt_i at location X1Y1
INST lane_1_mgt_i LOC=GT_X1Y1;



##########################    RIO6 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_2_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_2_GRP";
AREA_GROUP "PHASE_ALIGN_2_GRP" RANGE=SLICE_X50Y168:SLICE_X51Y169;

# Place lane_2_mgt_i at location X2Y1
INST lane_2_mgt_i LOC=GT_X2Y1;



##########################    RIO7 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_3_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_3_GRP";
AREA_GROUP "PHASE_ALIGN_3_GRP" RANGE=SLICE_X62Y168:SLICE_X63Y169;

# Place lane_3_mgt_i at location X3Y1
INST lane_3_mgt_i LOC=GT_X3Y1;



##########################    RIO9 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_4_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_4_GRP";
AREA_GROUP "PHASE_ALIGN_4_GRP" RANGE=SLICE_X86Y168:SLICE_X87Y169;

# Place lane_4_mgt_i at location X4Y1
INST lane_4_mgt_i LOC=GT_X4Y1;



##########################    Lane 5 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_5_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_5_GRP";
AREA_GROUP "PHASE_ALIGN_5_GRP" RANGE=SLICE_X98Y168:SLICE_X99Y169;

# Place lane_5_mgt_i at location X5Y1
INST lane_5_mgt_i LOC=GT_X5Y1;



##########################    Lane 6 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_6_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_6_GRP";
AREA_GROUP "PHASE_ALIGN_6_GRP" RANGE=SLICE_X14Y0:SLICE_X15Y1;

# Place lane_6_mgt_i at location X0Y0
INST lane_6_mgt_i LOC=GT_X0Y0;



##########################    RIO21 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_7_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_7_GRP";
AREA_GROUP "PHASE_ALIGN_7_GRP" RANGE=SLICE_X26Y0:SLICE_X27Y1;

# Place lane_7_mgt_i at location X1Y0
INST lane_7_mgt_i LOC=GT_X1Y0;



##########################    RIO19 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_8_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_8_GRP";
AREA_GROUP "PHASE_ALIGN_8_GRP" RANGE=SLICE_X50Y0:SLICE_X51Y1;

# Place lane_8_mgt_i at location X2Y0
INST lane_8_mgt_i LOC=GT_X2Y0;



##########################    RIO18 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_9_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_9_GRP";
AREA_GROUP "PHASE_ALIGN_9_GRP" RANGE=SLICE_X62Y0:SLICE_X63Y1;

# Place lane_9_mgt_i at location X3Y0
INST lane_9_mgt_i LOC=GT_X3Y0;



##########################    RIO16 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_10_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_10_GRP";
AREA_GROUP "PHASE_ALIGN_10_GRP" RANGE=SLICE_X86Y0:SLICE_X87Y1;

# Place lane_10_mgt_i at location X4Y0
INST lane_10_mgt_i LOC=GT_X4Y0;



##########################    Lane 11 Constraints ####################

#Constrain locatation of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST lane_11_phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_11_GRP";
AREA_GROUP "PHASE_ALIGN_11_GRP" RANGE=SLICE_X98Y0:SLICE_X99Y1;

# Place lane_11_mgt_i at location X5Y0
INST lane_11_mgt_i LOC=GT_X5Y0;



